h1{
  color:orange;
}
.hungry-btn{
  background-color:red;
  color:white;
  width:400px;
  height:50px;
  font-size:40px;

}
.share-btn{
  background-color:green;
  color:white;
  width:400px;
  height:50px;
  font-size: 40px;
  margin-top:20px;

}
