
.navbar, .nav, .nav li, .nav li a {
    background-color: #e74c3c;
    color: white;
}
.nav li:hover, .nav li a:hover {
    background-color: #e74c3c;
}
.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #e74c3c;
}
.nav li a:hover {
  background-color: #e74c3c; 
}
h1{
  color:orange;
}
.hungry-btn{
  background-color:red;
  color:white;
  width:400px;
  height:50px;
  font-size:40px;

}
.share-btn{
  background-color:green;
  color:white;
  width:400px;
  height:50px;
  font-size: 40px;
  margin-top:20px;

}

